@using PKWebShop.Services
@using PKWebShop.Utils

@{
    ViewBag.Title = "Mã giảm giá";
    var webLicense = new PackageServices().WebPackInfo();
    if (webLicense.GiftCode == false)
    {
        Response.Redirect("/admin");
    }
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/admin" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i> Home
            </a>
            <span class="breadcrumb-item active">Chương trình khuyến mãi</span>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
    </div>
</div>


@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @Html.Raw(TempData["error"])
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @Html.Raw(TempData["success"])
    </div>
}



<div class="card">
    <div class="card-header well" data-original-title="">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="card-title">@ViewBag.Title</h4>
            <div class="card-toolbar">
                <button type="button" class="btn btn-primary" onclick="new_giftcode()">
                    <i class="anticon anticon-plus"></i> Tạo mã giảm giá
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-md-3 col-xs-12 m-t-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Từ ngày</span>
                    </div>
                    <input type="date" id="fromdate" class="form-control" data-date="" data-date-format="DD/MM/YYYY" name="fDate" value="@(ViewBag.fromdate)" />
                </div>
            </div>
            <div class="col-md-3 col-xs-12 m-t-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Đến ngày</span>
                    </div>
                    <input type="date" id="todate" class="form-control" data-date="" data-date-format="DD/MM/YYYY" name="tDate" value="@(ViewBag.todate)" />
                </div>
            </div>
            <div class="col-md-2 col-xs-12 m-t-5">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Trạng thái</span>
                    </div>
                    <select id="status" class="form-control cursor-pointer" name="Status">
                        <option value="" selected>Tất cả</option>
                        <option value="-1">Hết hạn</option>
                        <option value="0">Chưa bắt đầu</option>
                        <option value="1">Hoạt động</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 m-t-5">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" value="" placeholder="Nhập Tên, mã giftcode" autocomplete="off" />
                    <div id="btn_search" class="input-group-append" style="cursor:pointer">
                        <span class="input-group-text"><i class="fa fa-search"></i>&nbsp;Tìm kiếm</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="partial_list_gift_code" class="table-responsive">
            <table id="table_giftcode" class="table table-hover" style="margin-top:0px !important">
                <thead>
                    <tr class="box-header well">
                        <th>Mã</th>
                        <th>Thời hạn</th>
                        <th>Giá giảm</th>
                        <th>Áp dụng cho đơn hàng</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="giftcode_modal" class="modal fade">
    <div class="modal-dialog modal-dialog-scrollable">
        <form id="gift_code_form" action="/admin/giftcode/save" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tạo Mã Giảm Giá</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="anticon anticon-close"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <input type="hidden" name="Editing" value="0" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold required">Mã giảm giá</label>
                            <input type="text" class="form-control" name="code" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Mô tả</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Từ ngày</label>
                            <input type="date" id="StartDate" class="form-control" data-date="" data-date-format="DD/MM/YYYY" name="start_date" value="" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Đến ngày</label>
                            <input type="date" id="EndDate" class="form-control" data-date="" data-date-format="DD/MM/YYYY" name="end_date" value="" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="font-weight-semibold">Loại giảm giá</label>
                            <div class="radio">
                                <input id="gridCheck1" type="radio" name="gc_type" value="percent">
                                <label for="gridCheck1" class="font-weight-semibold">Theo phần trăm</label>
                            </div>
                            <div class="radio">
                                <input id="gridCheck2" type="radio" name="gc_type" value="price">
                                <label for="gridCheck2" class="font-weight-semibold">Theo số tiền</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6 gc_type percent">
                            <label class="font-weight-semibold">Phần trăm giảm</label>
                            <div class="input-affix m-b-10">
                                <input type="text" class="form-control" name="percent" oninput="if (this.value >= 100) { this.value = 100;} else { this.value = this.value.replace(/[^0-9.]/g, ''); }">
                                <span class="suffix-icon">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 gc_type price" style="display:none">
                            <label class="font-weight-semibold">Số tiền giảm</label>
                            <div class="input-affix m-b-10">
                                <input type="text" class="form-control p-r-50" name="price" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" onkeyup="$(this).val(toMoney($(this).val()))">
                                <span class="suffix-icon">@(Constant.CURRENCY_SIGN)</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 m-b-5">
                            <label class="font-weight-semibold">Áp dụng cho đơn hàng có giá trị từ</label>
                            <div class="input-affix m-b-10">
                                <input type="text" class="form-control p-r-50" name="GrandTotalFrom" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" onkeyup="$(this).val(toMoney($(this).val()))">
                                <span class="suffix-icon">@(Constant.CURRENCY_SIGN)</span>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input id="checkbox1" type="checkbox" value="true" name="active" checked>
                        <label for="checkbox1" class="font-weight-semibold">Kích hoạt</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    $(function () {
        $("input[name=gc_type]").on("change", function () {
            if ($(this).is(":checked")) {
                $(".gc_type." + $(this).val()).show().find("input").removeAttr("disabled");
                $(".gc_type").not("." + $(this).val()).hide().find("input").attr("disabled", true);
            }
        });
        
        table = $('#table_giftcode').DataTable({
            "lengthChange": false,
            'paging': true,
            'searching': false,
            'ordering': true,
            'info': false,
            'autoWidth': false,
            "order": [[1, "desc"]],
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
            }],

            "processing": true,
            "language": {
                "infoFiltered": "",
                "processing": '<img src="/Content/admin/img/loading.gif" width="60px">'
            },
            "serverSide": true,
            "ajax": {
                "type": "POST",
                "url": "/admin/giftcode/Load_table",
                "data": function (d) {
                    d.status = $("#status").val();
                    d.fromdate = $("#fromdate").val();
                    d.todate = $("#todate").val();
                    d.search = $("#search").val();
                    return d;
                },
                "dataSrc": function () {
                    return '';
                },
                "complete": function (json) {
                    if (json.responseJSON.data) {
                        if (json.responseJSON.data[0] == -1) {
                            table.draw();
                        }
                        
                        if (json.responseJSON.data.length > 0) {
                            $("#table_giftcode tbody").html(json.responseJSON.data);
                        }

                    }
                }
            },
            //"stateSave": true,
            //"stateSaveParams": function (settings, d) {
            //    d.Tags = $("#ticket_tags_filter").val();
            //    localStorage.setItem("tiket_filter_default", JSON.stringify(d));
            //},
            //"stateLoadParams": function (settings, d) {
            //    var current = localStorage.getItem("tiket_filter_default");
            //    if (current) {
            //        d = JSON.parse(current); current = null;
            //        $("#ticket_tags_filter").val(d.Tags);
            //    }
            //    return d;
            //}
        });
        table.on('draw', function () {
        });
        $("#btn_search").on("click", function () {
            table.draw();
        })

        $("#gift_code_form").ajaxForm(function (data) {
            if (cnoty(data)) {
                $("#giftcode_modal").modal('hide');
                table.draw();
            }
        })
    })

    function new_giftcode() {
        $("#gift_code_form").resetForm();
        $("#giftcode_modal").find(".modal-title").html("Tạo Mã Giảm Giá");
        $("#giftcode_modal").find("input[name=Editing]").val("0");
        $("#giftcode_modal").find("input[name=code]").removeAttr("readonly");
        $("#StartDate").val((moment().format('YYYY-MM-DD'))).trigger("change");
        $("#EndDate").val((moment().add(1, 'days').format('YYYY-MM-DD'))).trigger("change");
        $("#gridCheck1").trigger("click");
        $("#giftcode_modal").modal("show");
    };

    function delete_giftcode(code) {
        if (confirm("Bạn có chắc muốn xóa gift code " + code + "?")) {
            $.ajax({
                method: "POST",
                url: "/admin/giftcode/DeleteGiftCode",
                data: { code },
                dataType: "json"
            }).done(function (data) {
                if (data[0] == true) {
                    msg_success(data[1], "", "top center");
                    table.draw();
                }
                else {
                    msg_warning(data[1], "", "top center");
                }
            }).fail(function () {
                msg_error("Xóa thất bại. Đã có sự cố xảy ra", "", "top center");
            });
        }
    };

    function edit_giftcode(code) {
        $.ajax({
            method: "POST",
            url: "/admin/giftcode/getGiftCode",
            data: { code },
            dataType: "json"
        }).done(function (data) {
            $("#gift_code_form").resetForm();
            $("#giftcode_modal").find(".modal-title").html(`Cập nhật mã giảm giá ${code}`);
            $("input[name='Editing']").val("1");
            $("input[name='code']").val(data[1].code);
            $("input[name='code']").attr("readonly", true);
            $("input[name='name']").val(data[1].name);

            $("input[name='start_date']").val(data[2]).trigger("change");
            $("input[name='end_date']").val(data[3]).trigger("change");

            if (data[1].price > 0) {
                $("input[name=gc_type][value=price]").trigger("click").trigger("change");
            } else {
                $("input[name=gc_type][value=percent]").trigger("click").trigger("change");
            }

            $("input[name='percent']").val(data[1].percent ?? "0");
            $("input[name='price']").val(toMoney(data[1].price ?? "0"));
            $("input[name='GrandTotalFrom']").val(toMoney(data[1].GrandTotalFrom ?? "0"));
            $("input[name='active']").attr("checked", data[1].active || false);
            $("#giftcode_modal").modal("show");
        }).fail(function () {
            msg_error("Tải dữ liệu thất bại. Vui lòng thử lại", "", "top right");
        });
    };
</script>
