@model IEnumerable<PKWebShop.Models.user>
@using PKWebShop.Models
@using PKWebShop.AppLB
@{
    ViewBag.Title = "Thành viên";
    var curMem = ViewBag.CurMem as user;
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/admin" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i> Home
            </a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
    </div>
</div>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-warning font-size-18"></i>
            </span>
            <span>@Html.Raw(TempData["error"])</span>
        </div>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-check font-size-18"></i>
            </span>
            <span> @Html.Raw(TempData["success"])</span>
        </div>
    </div>
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Danh sách thành viên</h4>
    </div>
    <div class="card-body">
        <a href="/admin/users/save" class="btn btn-primary">
            Thêm thành viên
        </a>
        <div class="m-t-25 p-15" style="overflow:auto">
            <table id="user_table" class="table table-hover table-bordered bootstrap-datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Vai trò</th>
                        <th>Trạng thái</th>
                        <th style="width:60px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Select((_value, _index) => new { _value, _index }))
                    {
                        <tr>
                            <th>@(item._index + 1)</th>
                            <td>
                                @if (curMem.UserName == item._value.UserName)
                                {
                                    <b>@(item._value.UserName)</b>
                                }
                                else
                                {
                                    @(item._value.UserName)
                                }
                            </td>
                            <td>@(item._value.Fullname)</td>
                            <td>@(item._value.Email)</td>
                            <td>
                                @if (item._value.RoleLevel == (int)UserContent.UserRole.Admin)
                                {
                                    <span class="badge badge-pill badge-primary">@(item._value.Role)</span>
                                }
                                else if (item._value.RoleLevel == (int)UserContent.UserRole.Manager)
                                {
                                    <span class="badge badge-pill badge-success">@(item._value.Role)</span>
                                }
                                else if (item._value.RoleLevel == (int)UserContent.UserRole.Member)
                                {
                                    <span class="badge badge-pill badge-info">@(item._value.Role)</span>
                                }
                            </td>
                            <td>
                                @if (item._value.Active == true)
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-success badge-dot m-r-10"></div>
                                        <div>Đã kích hoạt</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex align-items-center">
                                        <div class="badge badge-danger badge-dot m-r-10"></div>
                                        <div>Chưa kích hoạt</div>
                                    </div>
                                }
                            </td>
                            <td>
                                @if (curMem.UserName == item._value.UserName)
                                {
                                    <a class="btn btn-xs btn-primary" href="/admin/users/save/@(item._value.UserId)" data-toggle="tooltip" title="Cập nhật thông tin">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="/admin/users/delete/@(item._value.UserId)" data-toggle="tooltip" title="Xóa" onclick="return confirm('Bạn xác nhận muốn xóa?')">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                }
                                else if (curMem.RoleLevel > item._value.RoleLevel)
                                {
                                    <a class="btn btn-xs btn-primary" href="/admin/users/save/@(item._value.UserId)" data-toggle="tooltip" title="Cập nhật thông tin">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="/admin/users/delete/@(item._value.UserId)" data-toggle="tooltip" title="Xóa" onclick="return confirm('Bạn xác nhận muốn xóa?')">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                }
                                else if (curMem.RoleLevel == (int)UserContent.UserRole.Admin && curMem.UserName == item._value.CreateBy)
                                {
                                    <a class="btn btn-xs btn-primary" href="/admin/users/save/@(item._value.UserId)" data-toggle="tooltip" title="Cập nhật thông tin">
                                        <i class="anticon anticon-edit"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="/admin/users/delete/@(item._value.UserId)" data-toggle="tooltip" title="Xóa" onclick="return confirm('Bạn xác nhận muốn xóa?')">
                                        <i class="anticon anticon-delete"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $('#user_table').DataTable({
            //"order": [[3, "asc"]]
        });
    </script>
}

