@using AdminPage.AppLB
@{
    ViewBag.Title = "Biểu đồ thống kê";
    var activeSales = UserContent.GetWebInfomation(true)?.ActiveSales;
    var cmem = Authority.GetThisUser();
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i> Home
            </a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
    </div>
</div>


@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-warning font-size-18"></i>
            </span>
            <span>@Html.Raw(TempData["error"])</span>
        </div>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-check font-size-18"></i>
            </span>
            <span> @Html.Raw(TempData["success"])</span>
        </div>
    </div>
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Biểu đồ thống kê lượt truy cập </h5>
            <div class="dropdown dropdown-animated scale-left">

                <a href="/home/SyncLanguages" class="btn btn-primary float-left d-none" onclick="ajaxLoading()">
                    <i class="anticon anticon-sync"></i> Đồng bộ ngôn ngữ
                </a>

                <form class="form-inline" role="form" action="/home/index">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Tháng</span>
                            </div>
                            <select name="month" onchange="$(this).closest('form').submit();" class="form-control" style="width:80px">
                                @for (int i = 1; i <= 12; i++)
                                {
                                    <option value="@i" @if (TempData["m"]?.ToString() == i.ToString()) { @Html.Raw(@"selected=""selected""") }>@i</option>
                                }
                            </select>
                            <div class="input-group-prepend">
                                <span class="input-group-text">/</span>
                            </div>
                            <select name="year" onchange="$(this).closest('form').submit();" class="form-control" style="width:100px">
                                @for (int i = 2020; i <= DateTime.Today.Year; i++)
                                {
                                    <option value="@i" @if (TempData["y"]?.ToString() == i.ToString()) { @Html.Raw(@"selected=""selected""") }>@i</option>
                                }
                            </select>
                        </div>

                    </div>
                </form>

            </div>
        </div>
        <div class="d-md-flex justify-content-space m-t-50">
            <div class="completion-chart" style="width:100%">
                <canvas class="chart" id="completion-chart"></canvas>
            </div>
        </div>
        @if (cmem?.Role == UserContent.UserRole.Admin.ToString())
        {
            <br /><br />
            <div class="checkbox">
                <input id="checkbox1" type="checkbox" value="1" @(activeSales == true ? "checked" : "") onchange="ActiveSale(this)">
                <label for="checkbox1">Kích hoạt chức năng bán hàng</label>
            </div>
        }
    </div>
</div>
<style>
    select::-ms-expand {
        display: none;
    }
</style>

@section scripts
{

    <script src="~/Content/admin/assets/vendors/chartjs/Chart.min.js"></script>

    <!-- chart libraries start -->
    <script src="~/Content/admin/bower_components/flot/excanvas.min.js"></script>
    <script src="~/Content/admin/bower_components/flot/jquery.flot.js"></script>
    <script src="~/Content/admin/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/admin/bower_components/flot/jquery.flot.stack.js"></script>
    <script src="~/Content/admin/bower_components/flot/jquery.flot.resize.js"></script>
    <!-- chart libraries end -->
    <script src="~/Content/admin/js/init-chart.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        $(function () {
            const completionChart = document.getElementById("completion-chart");
            let gradient = completionChart.getContext('2d').createLinearGradient(0, 30, 10, 320);
            gradient.addColorStop(0, "rgba(63, 135, 245, 0.15)");
            gradient.addColorStop(1,"rgba(255, 255, 255, 0)");
            const lineCtx = completionChart.getContext('2d');
            completionChart.height = 120;

            let label = [];
            for (var i = 1; i <= @ViewBag.days; i++) {
                label.push( i);
            }

            const lineConfig = new Chart(lineCtx, {
                type: 'line',
                data: {
                    labels: label,
                    datasets: [{
                        label: 'Lượt truy cập',
                        data: @ViewBag.data,
                        backgroundColor: gradient,
                        borderColor: "#3f87f5",
                        pointBackgroundColor: "#3f87f5",
                        pointBorderColor: "#ffffff",
                        pointHoverBackgroundColor: "rgba(63, 135, 245, 0.15)",
                        pointHoverBorderColor: "rgba(63, 135, 245, 0.15)",
                        tension: 0.1
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    maintainAspectRatio: false,
                    responsive: true,
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    tooltips: {
                        mode: 'index',
                        callbacks: {
                            title: function(tooltipItem, data) {
                                let title = `${$("select[name='year']").val()}/${$("select[name='month']").val()}/${tooltipItem[0].label}`;
                                return title;
                            }
                        }
                    },
                    elements: {
                        line: {
                            tension: 0,
                            borderWidth: 2
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: "Số lượng truy cập"
                            },
                        },
                        xAxes: [{
                            gridLines: [{
                                display: false,
                            }],
                            ticks: {
                                display: true,
                                fontColor: "#77838f",
                                fontSize: 13,
                                padding: 10
                            }
                        }],
                        yAxes: [{

                            gridLines: {
                                drawBorder: false,
                                drawTicks: false,
                                borderDash: [3, 4],
                                zeroLineWidth: 1,
                                zeroLineBorderDash: [3, 4]
                            },
                            ticks: {
                                display: true,
                                min: 0,
                                fontColor: "#77838f",
                                fontSize: 13,
                                padding: 10
                            }
                        }],
                    }
                }
            });
        })
        viewTrackerChart();

        function ActiveSale(el) {
            $.ajax({
                method: "POST",
                url: "/contact/ActiveSale",
                data: { active: $(el).prop("checked") },
                dataType: "json"
            }).done(function (data) {
                if (data[0] == true) {
                    msg_success(data[1], "", "top center")
                }
                else {
                    msg_warning(data[1], "", "top center");
                    $(this).prop("checked", !$(this).prop("checked"))
                }
            }).fail(function (data) {
                msg_error("Đã có lỗi xảy ra", "", "top center");
            });
        }
    </script>
}