@model AdminPage.Models.product
@using AdminPage.Models
@using AdminPage.Utils
@using AdminPage.AppLB
@{
    ViewBag.Title = Model.ProductName;
    var langs = ViewBag.ListLangs as List<AdminPage.Services.SiteLang.Language>;
    var lang = Request["lang"]?.ToString() ?? "vi";
    var more_picture = ViewBag.uploadFiles as List<uploadmorefile>;
    var listPriceOpt = ViewBag.ListPriceOpt as List<productoptionprice> ?? new List<productoptionprice>();
    var urlProduct = $"/{Model.Url}-pd{Model.ReId}";
    var urlProduct_full = $"{CommonFunc.GetClientSite()}{urlProduct}";
    var listOpt = ViewBag.ListOpt as List<product_option>;
    var listOptPrice = ViewBag.ListOptPrice as List<product_option_value>;
}

<style type="text/css">
    .media-body > h6 > span > i {
        display: none;
    }

    .media {
        min-width: 180px;
    }

    .border-primary {
        border-color: #3f87f5 !important;
    }

    #desc img {
        width: 100% !important;
        height: auto !important;
    }

    .border-dee2e6 {
        border-color: #dbe7f1 !important;
        background-color: aliceblue;
    }

    .p-7 {
        padding: 7px !important;
    }

    .sales {
        text-decoration-line: line-through;
    }

    fieldset {
        border: 1px solid #3f87f5;
        padding: 5px 11px 9px;
        margin: 0px 2px;
        border-radius: 4px;
    }
</style>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a href="/" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a class="breadcrumb-item" href="/productman">Sản phẩm</a>
            <span class="breadcrumb-item active">@ViewBag.Title</span>
        </nav>
    </div>
</div>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-warning font-size-18"></i>
            </span>
            <span>@Html.Raw(TempData["error"])</span>
        </div>
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        <div class="d-flex align-items-center justify-content-start">
            <span class="alert-icon">
                <i class="anticon anticon-check font-size-18"></i>
            </span>
            <span> @Html.Raw(TempData["success"])</span>
        </div>
    </div>
}

<p class="btn-group">
    <a href="/productman" class="btn btn-default">
        <i class="anticon anticon-arrow-left"></i> Trở lại
    </a>
    <a href="@($"/productman/save/{Model.ReId}?lang={lang}")" class="btn btn-warning">
        <i class="anticon anticon-edit"></i> Chỉnh sửa
    </a>
    <a href="@($"/productman/delete/{Model.ReId}")" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">
        <i class="anticon anticon-delete"></i> Xóa
    </a>
</p>


<div class="card">
    @if (langs.Count > 1)
    {
        <div class="card-header row no-gutters px-0">
            <div class="col-6">
                <ul class="nav nav-tabs border-0" id="langTab" role="tablist">
                    @foreach (var l in langs)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(l.Code==lang ? "active" : "")" href="/productman/detail/@Model.ReId?lang=@l.Code"><i class="flag-icon @l.Icon"></i> @l.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="card-body">
        <input type="hidden" id="langCode" name="langCode" value="@(lang)" />
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <h2>@ViewBag.Title</h2>
                <h5>
                    Giá bán:
                    @if (Model.SalePrice > 0)
                    {
                        <span class="font-weight-semibold text-primary m-r-5">@(Model.SalePrice?.ToString("#,##0")) @Constant.CURRENCY_SIGN</span>
                        <span class="font-weight-semibold text-danger sales font-size-13">@(Model.Price?.ToString("#,##0")) @Constant.CURRENCY_SIGN</span>
                    }
                    else
                    {
                        <span class="font-weight-semibold text-primary">@(Model.Price?.ToString("#,##0")) @Constant.CURRENCY_SIGN</span>
                    }
                </h5>
                <p class="border"></p>
                <!--Option giá bán-->
                @if (listPriceOpt != null && listPriceOpt.Count > 0)
                {
                    <div class="m-t-20">
                        <h6 class="text-uppercase">Giá bán tùy chọn</h6>
                        @foreach (var item in listPriceOpt.OrderBy(x => x.Price))
                        {
                            <p class="m-b-0 m-t-10">
                                <label class="w-100 mb-0 p-7 border border-dee2e6">
                                    <span class="font-weight-semibold text-dark label_name">@(item.LabelName)</span>
                                    <span class="float-right">
                                        <span class="text-primary font-weight-semibold m-r-25 price_value">@(item.Price?.ToString("#,###")) @Constant.CURRENCY_SIGN</span>
                                    </span>
                                </label>
                            </p>
                        }
                    </div>
                    <p class="border m-t-10"></p>
                }
                <!--/End-->
                <ul class="nav nav-tabs m-t-20" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">
                            THÔNG TIN SẢN PHẨM
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="desc-tab" data-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="false">
                            MÔ TẢ SẢN PHẨM
                        </a>
                    </li>
                </ul>
                <div class="tab-content m-t-15" id="myTabContent">
                    <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                        <div class="card">
                            <div class="card-body p-0">
                                <div>
                                    <table class="table table-bordered mb-0">
                                        <tbody class="text-dark">
                                            <tr class="d-none">
                                                <td class="align-top" style="width:180px;">
                                                    <h6 class="m-b-0">Mã sản phẩm</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @(Model.Code)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top" style="width:180px;">
                                                    <h6 class="m-b-0">Danh mục sản phẩm</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @(Model.CategoryName?.Replace(",", ", "))
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Link sản phẩm</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    <a href="@urlProduct_full" target="_blank">@urlProduct</a>
                                                </td>
                                            </tr>
                                            @if (listOpt.Count > 0)
                                            {
                                                <tr>
                                                    <td class="align-top">
                                                        <h6 class="m-b-0">Giá bán theo phân loại</h6>
                                                    </td>
                                                    <td class="text-justify align-top">
                                                        <table class="w-100">
                                                            <thead>
                                                                <tr>
                                                                    @foreach (var t in listOpt)
                                                                    {

                                                                        <th>@t.name</th>
                                                                    }

                                                                    <th>Giá</th>
                                                                    <th>SL Còn</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var opt1 in listOpt.FirstOrDefault()?.ListOption ?? new List<product_option> { null })
                                                                {
                                                                    var listopt2 = listOpt.Skip(1).FirstOrDefault()?.ListOption ?? new List<product_option> { null };
                                                                    <tr>
                                                                        <td rowspan="@(listopt2.Count + 1)">@opt1.name</td>
                                                                    </tr>
                                                                    foreach (var opt2 in listopt2)
                                                                    {
                                                                        <tr>

                                                                            <td @(opt2 == null ? "style=display:none" : "")>@(opt2?.name)</td>

                                                                            <td class="text-right">@(listOptPrice.FirstOrDefault(x => x.option1 == opt1.id && x.option2 == opt2?.id)?.price.ToString("#,##0 đ"))</td>
                                                                            <td class="text-right">@(listOptPrice.FirstOrDefault(x => x.option1 == opt1.id && x.option2 == opt2?.id)?.qty)</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </tbody>
                                                        </table>
                                                        @*@(opionprice)*@
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Giới thiệu ngắn</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @Html.Raw(Model.ShortDescription?.Replace("\r\n", "<br/>"))
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Trạng thái</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    <span>
                                                        @((Model.Quantity == -1 || Model.Quantity > 0) ? "Sản phẩm còn hàng" : "Hết hàng")
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Hiển thị trang chủ</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @(Model.ShowHomePage == true ? "Có" : "Không")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Ngày tạo</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @($"{Model.CreateAt:dd/MM/yyyy HH:mm} bởi {Model.CreateBy}")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-top">
                                                    <h6 class="m-b-0">Cập nhật lần cuối</h6>
                                                </td>
                                                <td class="text-justify align-top">
                                                    @(Model.UpdateAt != null ? $"{Model.UpdateAt:dd/MM/yyyy HH:mm} bởi {Model.UpdateBy}" : "")
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="desc" role="tabpanel" aria-labelledby="desc-tab">
                        <div class="card">
                            <div class="card-body text-justify">
                                <div class="p-r-15" style="overflow-y:auto; max-height:500px;">
                                    @Html.Raw(Model.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Thuộc tính sản phẩm-->
                @if (!string.IsNullOrEmpty(Model.list_parent_properties))
                {
                    var data = ViewBag.listProp as List<product_properties>;
                    var imgs = ViewBag.propertiy_imgs as List<uploadmorefile>;
                    <div class="form-group mb-0">
                        <h6 class="text-uppercase">Thuộc tính sản phẩm</h6>
                        <div id="div_product_prop" class="file-wrapper m-t-10">
                            @foreach (var item in data.Where(x => string.IsNullOrEmpty(x.parrent_properties_id)))
                            {
                                <div id="@($"f_{item.ReId}")" class="file border-primary">
                                    <div class="media">
                                        @*<div class="m-r-15 font-size-30">
                                    <i class="anticon anticon-file-text text-success"></i>
                                </div>*@
                                        <div class="media-body">
                                            <div class="font-size-13 text-primary">
                                                <h6 class="mb-0 text-success">
                                                    @(item.name)
                                                </h6>
                                                <table id="selecprop_image">
                                                    <tbody>
                                                        <tr>
                                                            @foreach (var prop in data.Where(x => x.parrent_properties_id == item.id))
                                                            {
                                                                <th>
                                                                    <span class="px-2"> @prop.name</span>
                                                                </th>
                                                            }
                                                        </tr>
                                                        <tr>
                                                            @foreach (var prop in data.Where(x => x.parrent_properties_id == item.id))
                                                            {
                                                                <th>
                                                                    <div class="px-2"> <img height="80" width="80" style="object-fit: contain" src="@(imgs?.FirstOrDefault(u=>u.TableId==Model.ReId+"|"+prop.ReId)?.FileName)" onerror="this.onerror=null;this.src='/Content/Client/images/no_image.png';" loading="lazy" /> </div>
                                                                </th>
                                                            }
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <!--/End-->
                <!--Xem trước kết quả SEO-->
                <fieldset class="m-t-10">
                    <legend class="font-size-16 font-weight-semibold text-dark" style="width:auto">Xem trước kết quả tìm kiếm</legend>
                    <h4 class="mb-0">
                        <a href="@(urlProduct_full)" target="_blank" style="color:#1a0dab">@(Model.SEO_Title)</a>
                    </h4>
                    <p class="mb-0">
                        <a href="@(urlProduct_full)" target="_blank" style="color:green">@(urlProduct_full)</a>
                    </p>
                    <p class="mb-0">@Html.Raw(Model.SEO_Desc?.Replace("\r\n", "<br/>"))</p>
                </fieldset>
                <!--/End-->
            </div>
            <div class="col-md-5 col-xs-12">
                <div class="mb-2">
                    <h5 style="margin-bottom:18px">Hình ảnh</h5>
                    <img class="img-thumbnail" src="@Model.Picture" style="height:200px" alt="@Model.ImageAlt" />
                </div>
                <div>
                    @if (more_picture != null && more_picture.Count() > 0)
                    {
                        <h5>Hình ảnh khác</h5>
                        foreach (var pic in more_picture)
                        {
                            <img class="img-thumbnail" src="@pic.FileName" style="height:100px" alt="image" />
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<p class="btn-group">
    <a href="/productman" class="btn btn-default">
        <i class="anticon anticon-arrow-left"></i> Trở lại
    </a>
    <a href="@($"/productman/save/{Model.ReId}?lang={lang}")" class="btn btn-warning">
        <i class="anticon anticon-edit"></i> Chỉnh sửa
    </a>
    <a href="@($"/productman/delete/{Model.ReId}")" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này?')">
        <i class="anticon anticon-delete"></i> Xóa
    </a>
</p>