@using PKWebShop.AppLB
@using PKWebShop.Models
@{
    ViewBag.Title = "Liên hệ";
    var info = UserContent.GetWebInfomation(true);
    var contact = ViewBag.contact as sectionfeaturedetail;
    var contact_banner = ViewBag.contact_banner as uploadmorefile;

    if (!string.IsNullOrEmpty(info.ImageShared))
    {
        ViewBag.og_image = info.ImageShared;
    }
}

<div class="breadcrumb-area bg-theme">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li>
                    <a href="/">Trang chủ</a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-area pt-30 pb-30">
    <div class="container bg-white py-3">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="contact-infos mb-40">
                    <h3 class="title">Thông tin liên hệ</h3>
                    <ul class="list-menu">
                        <li class="mb-2">
                            Địa chỉ:
                            <div style=" margin-top: -24px; margin-left: 52px">
                                @foreach (var add in info.Address?.Split(new char[] { '\n' }, StringSplitOptions.RemoveEmptyEntries) ?? new string[0])
                                {
                                    <span>@add</span><br />
                                }
                            </div>
                        </li>
                        <li class="mb-2">SĐT: @info.CompanyPhone</li>
                        <li class="mb-2">Email: @info.ContactEmail</li>
                        <li>Giờ mở cửa: @info.WorkTime</li>
                    </ul>
                </div>
                <div class="contact-contents mb-4">
                    <img src="@(contact_banner?.FileName ??string.Empty)" onerror="this.style.display='none'" />
                    @Html.Raw(contact?.Description ?? string.Empty)
                </div>
            </div>
            <div class="col-lg-6">
                <div class="get-in-touch-wrap">
                    <h1 class="title-head text-center">@(contact?.Title??"Liên hệ với chúng tôi")</h1>
                    <span class="text-contact d-block text-center">@(contact?.SubTitle)</span>
                    <div class="contact-from contact-shadow">
                        <form id="contact-form2" action="/contact/CustomerRequest" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <input name="FullName" type="text" placeholder="Tên" required>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input name="Phone" type="text" placeholder="Số điện thoại" required>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <input name="Email" type="email" placeholder="Email">
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <textarea name="Note" type="text" placeholder="Lời nhắn"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button id="submit" hidden type="submit">Gửi yêu cầu</button>
                                    <button type="button" class="submit" onclick="submitRequest()">
                                        <span id="span-doOrder">Gửi yêu cầu</span>
                                        <i id="subReq-loading" class="fa fa-spinner fa-pulse d-none" style="font-size:16px;"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-map pt-45">
            @Html.Raw(info.GoogleMap)
        </div>
    </div>
</div>
<style>
    .contact-map iframe {
        width: 100% !important;
    }
</style>

@section scripts{
    <script>
        var submiting = false;

        $("#contact-form2").ajaxForm(function (data) {
            cnoty(data);
            $("#contact-form2").resetForm();
            submiting = false;
            $("#span-doOrder").html("Gửi yêu cầu");
            $("#subReq-loading").addClass("d-none");
        });

        function submitRequest() {
            if (submiting == false) {
                if (document.getElementById("contact-form2").checkValidity()) {
                    //bg_loading();
                    submiting = true;
                    $("#span-doOrder").html("Đang gửi yêu cầu");
                    $("#subReq-loading").removeClass("d-none");
                }

                $('#submit').trigger('click');
            }
            else {
                msg_info("Đang gửi yêu cầu. Vui lòng đợi...", "", "top center");
            }
        };
    </script>
}
