@model sFeatures_view
@using PKWebShop.Models.CustomizeModels
@using PKWebShop.AppLB
@{
    var adminSite = UserContent.GetAdminSite();
}

@foreach (var d in Model.Details)
{
    <section class="about-us-area ptb-40 bg-img">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-none d-md-block">
                    <div class="video">
                        @foreach (var img in d.Files)
                        {
                            <img class="img-fluid" src="@($"{adminSite}{img.FileName}")" />
                        }
                        @*<img class="img-fluid" src="~/Content/client/img/about_3_1.jpg" />*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title">
                        <h2 class="title">
                            <img class="img-fluid" src="~/Content/client/img/img-title.png" /> @d.Detail.Title
                        </h2>
                        <h3 class="subtitle"> @Html.Raw(d.Detail.SubTitle)</h3>
                        <p class="decription">
                            @Html.Raw(d.Detail.Description)
                        </p>
                    </div>
                    @*test*@
                    <div class="about-content">
                        <div class="row">
                            <div class="col-md-3 col-4">
                                <div class="about-content_item">
                                    <div class="img>">
                                        <img src="~/Content/client/img/a-feature_1_1.jpg" />
                                    </div>
                                    <div class="content">
                                        Món ngon
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-4">
                                <div class="about-content_item">
                                    <div class="img>">
                                        <img src="~/Content/client/img/a-feature_1_2.jpg" />
                                    </div>
                                    <div class="content">
                                        Tươi sạch
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-4">
                                <div class="about-content_item">
                                    <div class="img>">
                                        <img src="~/Content/client/img/a-feature_1_3.jpg" />
                                    </div>
                                    <div class="content">
                                        Giá tốt
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <a href="@d.Detail.URL" class="btn-contact">Đọc thêm</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}