@using PKWebShop.Models.CustomizeModels
@using PKWebShop.AppLB
@model sFeatures_view
@{
    var adminSite = UserContent.GetAdminSite();
}


<div class="testimonial-area pb-40">
    <div class="container">
        <div class="vendor_">
            <div class="section-title-tab-wrap align-items-inherit mb-20">
                <div class="section-title-3">
                    <h2 class="pb-5">@Model.Feature.Title</h2>
                </div>
                <p>@Model.Feature.SubTitle</p>
            </div>
            <div class="testimonial-active-2 slide-warp-arrow">
                @foreach (var d in Model.Details)
                {
                    <div class="single-testimonial-2 text-center">
                        <div class="testimonial-img">
                            <img src="@adminSite/@(d.Files.FirstOrDefault()?.FileName??string.Empty)" alt="@d.Detail.Title" onerror="this.onerror=null;this.src='/Content/Client/images/no_image.png';" loading="lazy" />
                        </div>
                        <div class="testimonial-content">
                            @Html.Raw(d.Detail.Description)
                        </div>
                        <div class="client-info">
                            <h5>@d.Detail.Title</h5>
                            <span>@d.Detail.SubTitle</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
