@model IEnumerable<PKWebShop.Models.order>
@{
    ViewBag.Title = "Quản lý hóa đơn";
}

<div>
    <ul class="breadcrumb">
        <li>
            <a href="/admin/">Home</a>
        </li>
        <li>
            <a href="#">@ViewBag.Title</a>
        </li>
    </ul>
</div>


@*<p class="btn-group">
        <a href="/admin/order/save" class="btn btn-default">+Thêm hóa đơn</a>
    </p>*@


@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}
else if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}





<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2><i class="glyphicon glyphicon-user"></i> Danh sách hóa đơn</h2>
            </div>

            <div class="box-content">
                <div class="form-group">
                    <input type="text" ng-model="searchText" placeholder="Nhập tên khách hàng" autocomplete="off"/>
                    <button type="button" ng-click="Search(searchText)">Tìm kiếm</button>
                </div>
                <table class="table table-striped table-bordered responsive">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Tên khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Ngày tạo</th>
                            <th>Tổng tiền</th>
                            <th>Thuế (VAT)</th>
                            <th>Tiền ship</th>
                            <th>Tổng cộng</th>
                            <th>Trạng thái</th>
                            <th>Hình thức thanh toán</th>
                            <th style="width:150px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@PKWebShop.AppLB.CommonFunc.GetIDStr(item.Id)</td>
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerPhone</td>
                                <td>@item.Customer_Address</td>
                                <td>@(item.CreatedAt?.ToString("dd/MM/yyyy"))</td>
                                <td>@(item.SubTotal?.ToString("#,###"))</td>
                                <td>@(item.TaxPercent + "%")</td>
                                <td>@(item.Shipping?.ToString("#,###"))</td>
                                <td>@(item.GrandTotal?.ToString("#,###"))</td>
                                <td class="center">
                                    @if (item.Status == "Đã thanh toán")
                                    {
                                        <span class="label-success label">Đã thanh toán</span>
                                    }
                                    else
                                    {
                                        <span class="label-default label">Chưa thanh toán</span>
                                    }
                                </td>
                                <td>@item.PaymentMethod</td>
                                <td class="center">
                                    <a class="btn btn-xs btn-success" href="/admin/order/detail/@item.Id" data-toggle="tooltip" title="Xem chi tiết">
                                        <i class="glyphicon glyphicon-eye-open icon-white"></i>
                                    </a>
                                    <a class="btn btn-xs btn-success" href="/admin/order/save/@item.Id" data-toggle="tooltip" title="Sửa hóa đơn">
                                        <i class="glyphicon glyphicon-edit icon-white"></i>
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="/admin/order/delete/@item.Id" data-toggle="tooltip" title="Xóa hóa đơn" onclick="return confirm('Bạn xác nhận muốn xóa?')">
                                        <i class="glyphicon glyphicon-trash icon-white"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>



















                @*@using (Ajax.BeginForm("index", "order", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "Orderlist"
        }))
        {
            <div class="form-group">
                <input type="text" name="search" value="@TempData["search"]" placeholder="Nhập tên khách hàng.." autocomplete="off" />
                <button type="submit" value="search">Tìm kiếm</button>
            </div>
        }

        <div id="Orderlist">
            @Html.Partial("_OrderListPartial")
        </div>

        <div class="clearfix">
            @Html.Partial("_PagingPartial", new ViewDataDictionary { { "page", TempData["page"] }, { "rpp", TempData["rpp"] }, { "totalRecords", TempData["totalRecords"] }, { "url", "/admin/order" } })
        </div>*@

            </div>
        </div>
    </div>
</div>

