@model (List<PKWebShop.Services.SiteLang.Language>, List<PKWebShop.Services.SiteLang.Language>)
@if (Model.Item1.Count == 0)
{
    <script type="text/javascript">
        $(function () {
            warning("Bài viết đã có đủ ngôn ngữ.");
        })
    </script>
}
else
{
    <div class="modal" id="News_newLang" aria-modal="true">
        <div class="modal-dialog" role="document">
            <form action="/admin/news/CopyNewsLang" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="AddTopicModalLabel">Ngôn ngữ mới</h4>
                </div>
                <div class="modal-body" style="padding-bottom:0px;">
                    <input type="hidden" name="Id" value="@ViewBag.Id"/>
                    <div class="form-group">
                        <label style="font-weight:bold">Ngôn ngữ bài viết mới</label><br />
                        <select id="NewLang" name="To" class="col-md-12">
                            @foreach (var n in Model.Item1)
                            {
                                <option data-icon="flag-icon @n.Icon" value="@n.Code"> @n.Name </option>
                            }

                        </select>
                    </div>
                    <div class="form-group">
                        <label style="font-weight:bold">Sao chép từ</label><br />
                        <select id="FromLang" name="From" class="col-md-12">
                            @foreach (var n in Model.Item2)
                            {
                                <option data-icon="flag-icon @n.Icon" value="@n.Code"> @n.Name </option>
                            }
                            <option value=""> Bài viết mới </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default float-left" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Tạo</button>

                </div>
            </form>
        </div>
        <script type="text/javascript">
            $(function () {
                $("[Id=News_newLang]:not(:last)").remove();
                $("#News_newLang").modal("show");
                $("#FromLang").selectpicker();
                $("#NewLang").selectpicker();

            })

        </script>
    </div>
}

